#portfolio{
    padding-top: 2rem;
}
.container__portfolio{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.portfolio__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-bg-variant);
    padding: 1.5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
    transition: var(--transition);
}
.portfolio__item:hover{
    border-color: var(--color-primary-variant);
    background-color: transparent;
}
.portfolio__item-image{
    border-radius: 1.5rem;
    overflow: hidden;
}
.portfolio__item h3{
    margin: 1.2rem 0 2rem;
}
.portfolio__item-cta{
    display: flex;
    justify-content: space-around;
}

/* ==========Media Queries(Medium Devices) =========*/
@media screen and (max-width:1024px) {
    .container__portfolio{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}
/* ==========Media Queries(Small Devices) =========*/
@media screen and (max-width:600px) {
    .container__portfolio{
        grid-template-columns: 1fr ;
        gap: 1rem;
    }
    .portfolio__item h3{
        text-align: center;
    }
    .portfolio__item-cta{
        justify-content: center;
        gap: 2rem;
    }
}